.container {
    background-color: rgb(250, 250, 250); 
    padding: 10px;
}

.mat-form-field {
    width: 100%;
}

.d-flex {
    padding: 5px;
}

.mat-raised-button {
    margin: 5px;
}

.btn-container {
    text-align: center;
}

.form-container {
    background-color: #e8f0fe;
}

.weather-txt {
    text-align: right;
    font-size: -webkit-xxx-large;
    padding-top: 18px;
}

.link {
    font-size: 12px;
    color: #3f51b5;
}

.mat-list-item {
    height: auto !important;
}

.cold-weather {
    color: #66c2e0;
}

.hot-weather {
    color: orangered;
}
