<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <!--Form component-->
  <div class="form-container" fxFlex="30%" >
    <form #findForm="ngForm">
        <div class="d-flex flex-row" >
            <mat-form-field class="example-full-width">
            <input matInput name="cityId" [(ngModel)]="search" [required]="true"
            placeholder="Choose location"/>
          </mat-form-field>
            
        </div>
        <div class="d-flex row btn-container" >
              <button mat-raised-button color="primary" name="findBtn" (click)="findLocation()" type="button"
              [disabled]="!findForm.form.valid" >Find</button>
              <button mat-raised-button  name="clearBtn" (click)="findForm.reset();clearWeatherInfo()">Clear</button>
        </div>
    </form>
  </div>
  <!-- Weather display component -->
  <div class="item" fxFlex="70%">
    <div *ngIf="city != null && weatherInfo != null && !searching" >
        <i class="fas fa-star" style="color: #fdd703;" *ngIf="addedToFav"></i>{{city.title}}, {{parentName}}
        <br/>
        <a class="link" [routerLink]="" *ngIf="!addedToFav" (click)="addToFavorite()">Add to favorite</a>
        <mat-divider></mat-divider>
        <div class="inner-container"
          fxLayout
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">

          <div class="weather-txt {{weatherClass}}" fxFlex="50%" >
            {{weather}}ºC
          </div>
          <div  fxFlex="50%" >
            <img style="margin-top: 10px;" src="/assets/images/{{weatherIcon}}.gif" title="{{weatherName}}"/>
          </div>
        </div>

        <div class="inner-container"
        fxLayout
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0" >
            {{weatherMin}}ªC/{{weatherMax}}ºC
          </div>
        <div class="inner-container"
        fxLayout
        fxLayoutGap="10px"
        fxLayoutGap.xs="0" style="font-size: 12px;">
            Humidity: {{humidity}}%
            <br/>
            Wind speed: {{windSpeed}} mph
          </div>
    </div>
    <!-- No location selected or not found component-->
    <div *ngIf="city == null && !searching" >
        &#160;
        <mat-divider></mat-divider>
        <div class="inner-container"
          fxLayout
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0" style="text-align: center;">
            <img src="/assets/images/windy.gif" />
        </div>

        <div class="inner-container"
          fxLayout
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0" style="text-align: center;">
            <p *ngIf="noLocationFound">Location not found</p>
            <p *ngIf="!noLocationFound">Choose location</p>
        </div>
    </div>
    <!-- Loading component-->
    <div *ngIf="searching">
      &#160;
      <mat-divider></mat-divider>
      <div class="inner-container"
        fxLayout
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0" style="text-align: center;">
          <img style="margin-top: 10px;" src="/assets/images/searching.gif" />
      </div>

      <div class="inner-container"
        fxLayout
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0" style="text-align: center;">
          <p>Looking up weather...</p>
      </div>
    </div>
    <!-- Favorites component-->
    <div style="margin-top: 15px;">
        Favorites
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item *ngFor="let fav of favorites">
              <p mat-line>
                <a class="link" [routerLink]="" (click)="revomeFromFavorites(fav.woeid)" title="Remove from favorites">
                    <i class="fas fa-trash"></i>
                </a>&#160;
                <a class="link" [routerLink]="" (click)="goToFavorite(fav)" >
                  {{fav.title}}
                </a>   {{fav.weather}}ºC
              </p>
            </mat-list-item>
          </mat-list>
    </div>
  </div>
</div>